body
{
	padding: 0px;
	margin: 0px;
	font-family:aliquam, sans-serif;
	letter-spacing:1px;
	width:100%;
	height:100%;
	overflow:hidden;
}

#mainContainer
{
	width:320px;
	Hheight:460px;
	height:100%;
	overflow-x:hidden;
}

#header
{
	position:fixed;
	top:0px;
	z-index:3;
}

#home
{
	display:block;
	left:-320px;
	padding-top:56px;
}

#contentContainer
{
	position:relative;
	z-index:1;
	left:320px;
	top:47px;
	width:320px;
	height:520px;
	Ooverflow-y:hidden;
}

#naviBar
{
	background-color:#1C1A1A;
	width:100%;
	height:50px;
	position:fixed;
	z-index:2;
	bottom:0px;
	-webkit-box-shadow: 0px -3px 5px rgba(10, 10, 10, 0.6);
	box-shadow: 0px -3px 5px rgba(10, 10, 10, 0.6);
}

#naviBtnLeft
{
	float:left;
	opacity:0;
	visibility:hidden;
}

#naviTitle
{
	Ttext-align:center;
	width:225px;
	height:27px;
	float:left;
	margin-left:10px;
	Xmargin-left:auto;
	Xmargin-right:auto;
	Xwidth:92%;
	padding-top:13px;
	color:#FFFFFF;
	font-size:20px;
	font-weight:100;
	text-transform:uppercase;
	overflow-y:hidden;
}

#naviBtnRight
{
	float:right;
}

.naviBtn
{
	border:0px;
	display:inline-block;
	margin:10px 4px auto 4px;
	color:#FFFFFF;
	font-size:14px;
	font-weight:normal;
}

.homeBtnContainer
{
	display:block;
	float:left;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	Bborder:1px solid #0000FF;
	width:50%;
	margin-bottom:26px;
}

.homeBtn
{
	margin: 0px auto 6px auto;
	padding-top:2px;
	background-color:#E60B22;
	color:#FFFFFF;
	font-size:40px;
	font-weight:100;
	width:90px;
	height:48px;
	-webkit-box-shadow: 0px 2px 3px rgba(10, 10, 10, 0.5);
	box-shadow: 0px 2px 3px rgba(10, 10, 10, 0.5);
}

.homeBtnLabel
{
	color:#141414;
}

.tableBtn
{
	background-color:#E60B22;
	padding:6px 2px 6px 12px;
	color:#FFF;
	font-size:14px;
	width:306px;
	display:block;
	text-decoration:none;
	text-transform:uppercase;
}

.tableBtnAlt
{
	background-color:#ef3f4e;
}

.soundBtn
{
	text-align:center;
	line-height:22px;
	display:inline-block;
	margin:3px 4px 3px auto;
	padding:2px 8px 2px 9px;
	background-color:#E60B22;
	color:#FFFFFF;
	font-size:16px;
	font-weight:normal;
	letter-spacing:1px;
	text-transform:uppercase;
	text-decoration:none;
	-webkit-box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.5);
	box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.5);
}

.linkBtn
{
	text-align:center;
	line-height:22px;
	display:inline-block;
	margin:3px 4px 3px auto;
	padding:2px 8px 2px 9px;
	background-color:#E60B22;
	color:#FFFFFF;
	font-size:16px;
	font-weight:normal;
	letter-spacing:1px;
	text-transform:uppercase;
	text-decoration:none;
	-webkit-box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.5);
	box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.5);
}

.contentSheet
{
	width:320px;
	height:100%;
	Ppadding-bottom:450px;
	position:absolute;
	left:0px;
	background-color:#FFFFFF;
	display:none;
}

.contentSheetList
{
	background-color:#E60B22;
	padding-top:20px;
}

.contentSheetDetail
{
	
}

.sheetHeader
{
	background-color:#E60B22;
	color:#FFF;
	padding:20px 12px 0px 12px;
}

.sheetHL
{
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:8px;
	Ffont-weight:100;
}

.sheetImg
{
	display:block;
	margin-bottom:4px;
	Mmargin-left:auto;
	Mmargin-right:auto;
}

.sheetCopy
{
	font-size:13px;
	line-height:22px;
	padding:12px;
	font-weight:normal;
}

.sheetMap
{
}

.sheetMissingFeature
{
	text-align:center;
	border:1px #E60B22 solid;
	padding:6px 2px 6px 2px;
	margin:8px 8px 8px 8px;
	color:#E60B22;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	width:90%;
	overflow:hidden;
}

#alertBox
{
	width:100%;
	height:100%;
	z-index:10;
	position:absolute;
	top:0px;
	left:0px;
	background-color: rgba(255, 255, 255, 0.95);
	
	opacity:0;
	visibility:hidden;
}

#alertText
{
	padding:200px 20px 20px 20px;
	color:#141414;
	text-align:center;
	font-size:13px;
	line-height:22px;
}




















